[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghp-import = "*"
pelican-webassets = "*"
awscli = "==1.11.56"
markdown = "<3"
markdown-i18n = "==2.1.2"
webassets = "==0.12.1"
cssmin = "==0.2.0"
pip = "*"
pelican = {extras = ["markdown"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
