<footer>
	<header>
	<h2>Hyphanet</h2>
	<p>Navigate with Freedom</p>
	</header>

	<ul class="social">
		<a href="https://twitter.com/freenetproject">Twitter</a>
        <a rel="me" title="Hyphanet News and Info in the Fediverse" href="https://floss.social/@Freenet">Mastodon</a>
	</ul>

	<div id="contact">
		<span style="display:inline-block; unicode-bidi:bidi-override; direction:rtl;" onmouseover="this.innerText=this.innerText.split('').reverse().join(''); this.style.unicodeBidi='';this.style.direction=''; this.removeAttribute('onmouseover');">gro.tcejorpteneerf@sserp</span></br>
		<span style="display:inline-block; unicode-bidi:bidi-override; direction:rtl;" onmouseover="this.innerText=this.innerText.split('').reverse().join(''); this.style.unicodeBidi='';this.style.direction=''; this.removeAttribute('onmouseover');">gro.tcejorpteneerf@troppus</span></br>
		<span>IRC: <a href="https://web.libera.chat/?nick=FollowRabbit|?#freenet">#freenet on irc.libera.chat</a></span></br>
	</div>

	<p id="copyright">Licensed under the <a href="https://www.gnu.org/licenses/fdl-1.3.html">GFDL</a>. <a href="https://github.com/hyphanet/website">Website source repository</a>, <a href="/pages/download.html#privacy-policy">Privacy Policy</a></p>
</footer>
