<footer>
	<header>
	<h2>Freenet</h2>
	<p>Navigate with Freedom</p>
	</header>

	<ul class="social">
		<a href="https://www.facebook.com/freenetp2p">Facebook</a>
		<a href="https://twitter.com/freenetproject">Twitter</a>
	</ul>
	<!--
	<form id="MLform" method="POST" action="https://ml.freenetproject.org/v1/">
		<input name="email" id="email" required="" type="email"></input>
		<input name="action" value="subscription" type="hidden"></input>
		<input name="list" value="announce" type="hidden"></input>

		<button id="submit">Submit</button>
	</form>
	-->

	<div id="contact">
		<span style="display:inline-block; unicode-bidi:bidi-override; direction:rtl;" onmouseover="this.innerText=this.innerText.split('').reverse().join(''); this.style.unicodeBidi='';this.style.direction=''; this.removeAttribute('onmouseover');">gro.tcejorpteneerf@sserp</span></br>
		<span style="display:inline-block; unicode-bidi:bidi-override; direction:rtl;" onmouseover="this.innerText=this.innerText.split('').reverse().join(''); this.style.unicodeBidi='';this.style.direction=''; this.removeAttribute('onmouseover');">gro.tcejorpteneerf@troppus</span></br>
		<span>IRC: <a href="https://webchat.freenode.net/?randomnick=1&channels=%23freenet&uio=d4">#freenet on chat.freenode.net</a></span></br>
	</div>

	<p id="copyright">&copy; Copyright The Freenet Project Inc. | All Rights Reserved</p>
</footer>
