blockquote {
	font-style: italic;
}

body a {
	text-decoration: none;
}

html {
	min-height: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
	padding-bottom: 15em;
}

body > div:first-of-type {
	color:  #fafbfc;
	box-sizing: border-box;
	/*background-color: rgb(65, 106, 179);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3e7d', endColorstr='#416ab3',GradientType=0 ); */
	padding-bottom: 1em;
	overflow-y: hidden;
}

/*
 * "What's freenet" margin is leaking because it's a block element. Inline block is a bad fix, what's the correct approach here?
 * padding this inside of the section would work but is hacky af
 */
body > div:nth-of-type(2) {
	background: url('../images/graph-grey.png');
	background-repeat: no-repeat;
	background-position: left -5em;
	padding-top: 3em; /* XXX: Hack! "Fixes" h2 margin extending beyond the containing div. Both margin and padding do not collapse but add */
	padding-top: 1px; /* XXX: Alternative hack. non-zero margin contains the h2 */
	padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: BebasNeueBold, "bebas-neue", sans-serif;
}

main h1, h2, h3, h4, h5, h6 {
	color: #416ab3;
}

h1, h2 {
	font-weight: 700;
}

nav {
	font-family: BebasNeueBold, "bebas-neue", sans-serif;
	color:  #fafbfc;
	font-size: 17.69px;/* Approximation due to font substitution */
	/* font-weight: 400; */
	/*line-height: 26px;*/
	padding: 1em 1em 1em 6em;
	/*text-align: center;*/
	display: inline-block;
}

nav:before {
	display: inline-block;
	vertical-align:middle;
	content: url('../images/logo-small.png');
}

nav a {
	display: inline-block;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	color:  #fafbfc;
	margin-left: 0.75em;
	font-size: 104%;
	font-weight: 700;
}

nav a.current {
	color: rgb(120, 148, 199);
}

.logo {
	width: 42px;
	height: 26px;
}

body > div > header {
	color:  #fafbfc;
	/*min-height: 80px;*/
}

body > div:first-of-type {
	min-height: 6em;
	min-height: 5em;
	min-height: 3em;
	/*padding-bottom: 0px;*/
}

body > div > header h1 {
	/*font-family: BebasNeueBold, "bebas-neue", sans-serif;*/
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
	/*width: 200px;
	height: 60px;*/
}

body > div > header h1:before {
	display: block;
	content: url('../images/logo-large.png');
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: -88px;
}

/* TODO: medium logo? */

body > div > .social {
	float: right;
	margin-top: 1em;
	margin-right: 5em;
	/*right: 3em;
	top: 1em;*/
}

body > div > header p {
	/*font-family: 'Myriad Pro', "myriad-pro", 'PT Sans', Helvetica, Arial, sans-serif;*/
	/*font-family: 'Myriad Pro', "myriad-pro", 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;*/
	margin-top: 0px;
	color:  #f3f6f6;
	font-size: 16px;
	/*font-weight: 400;*/
	text-align: center;
}

section > p,
section > blockquote,
section > cite {
	text-align: center;
}

#actions a:before {
	display: inline;
	color: white;
	content: '\203A  ';
}

#actions div:nth-of-type(1) h2:before {
	display: block;
	content: url('../images/download-white.png');
}
#actions div:nth-of-type(2) h2:before {
	display: block;
	content: url('../images/learn-white.png');
}
#actions div:nth-of-type(3) h2:before {
	display: block;
	content: url('../images/donate-white.png');
}
#actions div:nth-of-type(4) h2:before {
	display: block;
	content: url('../images/contribute-white.png');
}

#actions div {
	width: 240px;
}

.download .title {
	/*font-family: BebasNeueRegular;*/
	color:  #fcfafa;
	font-size: 24.51px;/* Approximation due to font substitution */
	/* font-weight: 400; */
	text-align: center;
	/*font-family: 'Myriad Pro', "myriad-pro", 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;*/
	font-family: 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;
}

.download .description {
/*font-family: 'Myriad Pro';*/
color:  rgba(249, 250, 251, 0.5);
font-size: 14.71px;
font-weight: 400;
line-height: 15px;
text-align: center;
}

section h2 {
	/*font-family: BebasNeueBold, "bebas-neue", "sans-serif";*/
	color:  #416ab3;
	font-size: 40px;/* Approximation due to font substitution */
	/*font-weight: 400;*/
	text-align: center;
	line-height: 39.901px;/* Approximation due to font substitution */
}

#actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#actions h2 {
	color:  #fcfafa;
	font-size: 24.51px;
	margin-bottom: 0px;
}

#actions p,
#actions a {
	color:  rgba(249, 250, 251, 0.5);
	font-size: 14.71px;
	/*font-weight: 400;*/
	line-height: 15px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0.25em;
}

#actions a {
	margin-left: 1em;
}

#whatsfreenet h2 {
/*font-family: BebasNeueBold;*/
color:  #416ab3;
font-size: 40px;/* Approximation due to font substitution */
/* font-weight: 400; */
line-height: 39.901px;/* Approximation due to font substitution */
}

#whatsfreenet a {
	display: block;
	color:  #416ab3;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

#whatsfreenet a:before {
	display: block;
	margin: 0 auto 0 auto;
	content: url('../images/download-blue.png');
}

#features ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#features ul li {
	width: 240px;
}

#features h3 {
	/*font-family: BebasNeueBold;*/
	color:  #1b3e7d;
	font-size: 40px;/* Approximation due to font substitution */
	/* font-weight: 400; */
	line-height: 39.901px;/* Approximation due to font substitution */
}

#features p {
	/* font-weight: 400; */
	text-align: center;
	max-width: 800px;
	margin: auto;
}

#features h3 {
	color:  #416ab3;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

#features ul h3:before {
	margin-bottom: 1em;
}

#features li:nth-of-type(1) h3:before {
	display: block;
	content: url('../images/identity-blue.png');
}
#features li:nth-of-type(2) h3:before {
	display: block;
	content: url('../images/browse-blue.png');
}
#features li:nth-of-type(3) h3:before {
	display: block;
	content: url('../images/forums-blue.png');
}
#features li:nth-of-type(4) h3:before {
	display: block;
	content: url('../images/platform-blue.png');
}

#features li p {
color:  #515862;
font-size: 11px;
/* font-weight: 400; */
line-height: 15px;
text-align: center;
width: 240px;
}

#news {
	min-height: 430px;
	background-color: rgb(242, 242, 243); /* matches eyedropper */

	margin-top: 5em;
	padding-top: 4em;
	padding-bottom: 4em;
}

#news p {
	max-width: 640px;
	margin: auto;
}

#news li {
	margin: 1em;
	text-align: left;
}

#news ol li h3 {
	color:  #416ab3;
	font-size: 17px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: -0.25em;
	font-family: 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;
}

#news ol li p {
	color:  #515862;
	font-size: 11px;
	/* font-weight: 400; */
	line-height: 15px;
	width: auto;
	margin-top: 1em;
}

#news ol li time {
	color:  #416ab3;
	font-size: 12px;
	font-weight: 600;
}

#news li {
	width: 240px;
}

#news a {
	display: inline-block;
	margin-top: 2em;
	background: rgb(65, 106, 179);
	border-radius: 2px 2px 2px 2px;
	padding: 0px 1ex 0px 1ex;
	color: white;
	font-size: 9px;
	line-height: 20px;
}

#news ol,
#news ol li {
	list-style-type: none;
}

#news ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#news ol li {
	display: block;
}

#more {
	display: block;
	text-indent: -9999px;
	/*text-align: center;*/
/*	width: 24px;
	height: 12px;
	margin: 2em auto 2em auto;*/
	/*margin-left: auto;
	margin-right: auto;*/
	background: transparent url("../images/arrow-down-white.png") no-repeat;
	background-position: bottom center;
	/*background-color: white;*/
}

/*#more:before {
	display: block;
	margin: 1em auto 1em auto;
	content: url('../images/arrow-down-white.png');
}*/

#testimonials cite {
	display: block;
	font-weight: 600;
	color: #416ab3; /* eyedropper */
}

#testimonials cite a {
	color: rgb(33, 144, 193);
	color: #416ab3; /* eyedropper */
}

#testimonials cite:after {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	content: url('../images/endorsement-blue.png');
}	

main {
	padding: 1em;
}

body main a {
	color:  #416ab3;
}

/*
ol li p:first-of-type {
	font-family: BebasNeueBold, "bebas-neue", sans-serif;
	color:  #416ab3;
	font-size: 17px;
	font-weight: 700;
}*/

ol li p:only-of-type {
	font-family: inherit;
	color:  inherit;
	font-size: inherit;
	font-weight: inherit;

}

dt {
	font-weight: 700;
}

footer {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between;*/
	width: 100%;
	margin: 0px;
	min-height: 252px;
	/* background-color: rgb(27, 62, 125); */
	background-color: #141f35; /* from eyedropper */
	padding: 2em 5em 2em;
	box-sizing: border-box;
	color: white;
	position: absolute;
	bottom: 0px;
	z-index: 9999;
}

footer header,
footer #contact {
	float: left;
	clear: left;
}

footer .social {
	float: right;
}

footer .social li {
	display: inline-block;
}

footer h2:before {
	display: inline-block;
	content: url('../images/logo-small.png');
}

footer h2 {
	text-align: left;
	font-size: 40px;
	line-height: 26px; /* FIXME Eh?... */
	margin-bottom: 0px;
	margin-top: 0px;
	color: white;
}

footer header p {
	text-align: center;
	margin-top: 0px;
}

footer #contact > * {
	display: block;
}

footer #copyright:before {
	display: block;
	/* FIXME: height and width necessary? */
	width: 1px;
	height: 1px;
	content: ' ';
	/* FIXME: note that toc is floated left, so this clear is pushing it waaayyyyyyy down*/
	clear: both;
}

footer form,
footer #copyright {
	display: block;
	/*position: absolute;
	left: 30%;*/
	/* FIXME: below a certain size this should be 100% */
	margin-left: 30%;
	width: 30%;
}

footer a {
	color: white;
}

footer .stats li:first-of-type:before {
	display: none;
}

footer .stats li:before {
	display: inline;
	content: ' | ';
}

@media only screen and (min-width : 1024px) {
	body > div {
		background: url('../images/graph-white.png'), linear-gradient(to bottom, #1b3e7d 0%,#416ab3 100%);
		background-repeat: no-repeat;
		background-position: top right;
	}
}

@media only screen and (max-width : 1024px) {
	body > div {
		background-color: rgb(65, 106, 179);
		background: linear-gradient(to bottom, #1b3e7d 0%,#416ab3 100%);
	}
}

@media only screen and (max-width : 480px) {
	footer h2 {
		text-align: center;
	}

	footer form,
	footer #copyright {
		margin-left: inherit;
		width: inherit;
	}

	nav {
		padding: 1em 1em 1em 1em;
	}

	.social {
		margin: 0px 0px 0px 0px;
	}

	body > div > .social {
		float: right;
		margin-top: 1em;
		margin-right: 1em;
	}
	footer {
		padding-left: inherit;
		padding-right: inherit;
	}

	footer header,
	footer .social,
	footer form {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width : 1024px) {
	footer #contact,
	footer #copyright,
	footer form {
		float: none;
		text-align: center;
		width: 100%;
		margin-left: 0;
	}
	body {
		padding-bottom: 15em;
	}
	footer {
		max-height: 15em;
		overflow: hidden;
	}
}

@media only screen and (max-width : 800px) {
	/*footer #contact,
	footer #copyright,
	footer form {
		float: none;
		text-align: center;
		width: 100%;
		margin-left: 0;
	}*/
	main {
		margin-left: 0;
	}
	body {
		padding-bottom: 16em;
	}
	footer {
		max-height: 16em;
		overflow: hidden;
	}
}

@media only screen and (max-width : 640px) {
	body {
		padding-bottom: 20em;
	}
	footer {
		max-height: 20em;
		overflow: hidden;
	}
}

@media only screen and (max-width: 800px) {
	nav {
		padding-left: 1em;
	}
}

@media only screen and (max-width: 1280px) {
	body > div {
		background: linear-gradient(to right, #1b3e7d 800px, rgba(27, 62, 125, 0) 1024px), url('../images/graph-white.png'), linear-gradient(to bottom, #1b3e7d 0%,#416ab3 100%), #1b3e7d;
		background-repeat: no-repeat;
		background-position: top right;
	}
}
