/**
 * ionicons is provided under the MIT license https://raw.githubusercontent.com/driftyco/ionicons/master/LICENSE
 */
@font-face {
	font-family: "ionicons";
	src: url("../fonts/ionicons.woff2") format("woff2"),
	     url("../fonts/ionicons.woff") format("woff"),
	     url("../fonts/ionicons.ttf") format("truetype");
}

code {
	white-space: pre-wrap;
	overflow-x: scroll;
}

blockquote {
	font-style: italic;
}

body a {
	text-decoration: none;
}

html {
	min-height: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
	padding-bottom: 15em;
}

body > div {
	background: #416ab3;
	background: linear-gradient(to right, #1b3e7d 800px, rgba(27, 62, 125, 0) 1024px), url('../images/graph-white.png'), linear-gradient(to bottom, #1b3e7d 0%,#416ab3 100%);
	background-repeat: no-repeat;
	background-position: top right;
}

body > div:nth-of-type(1) {
	color:  #fafbfc;
	box-sizing: border-box;
	padding-bottom: 1em;
	overflow-y: hidden;
}

body > div:nth-of-type(2) {
	background: url('../images/graph-grey.png');
	background-repeat: no-repeat;
	background-position: left -5em;
	padding-top: 3em; /* XXX: Hack! "Fixes" h2 margin extending beyond the containing div. Both margin and padding do not collapse but add */
	padding-top: 1px; /* XXX: Alternative hack. non-zero margin contains the h2 */
	padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: BebasNeueBold, "bebas-neue", sans-serif;
}

main h1, h2, h3, h4, h5, h6 {
	color: #416ab3;
}

h1, h2 {
	font-weight: 700;
}

h1 a:after,
h2 a:after,
h3 a:after {
	display: inline-block;
	content: url('../images/link-h2-blue.png');
	margin-left: 4px;
}

nav {
	font-family: BebasNeueBold, "bebas-neue", sans-serif;
	color:  #fafbfc;
	font-size: 17.69px;/* Approximation due to font substitution */
	padding: 1em 1em 1em 6em;
	display: inline-block;
}

nav#menu:before {
	display: inline-block;
	vertical-align:middle;
	content: url('../images/logo-small.png');
}

nav#language {
	display: block;
	padding: 0 0 0 9.25em;
	box-shadow: none;
	background: none;
}

nav#language a {
	height: auto;
	vertical-align: inherit;
}

nav a {
	display: inline-block;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	color:  #fafbfc;
	margin-left: 0.75em;
	font-size: 104%;
	font-weight: 700;
}

nav a.current {
	color: rgb(120, 148, 199);
}

.logo {
	width: 42px;
	height: 26px;
}

body > div > header {
	color:  #fafbfc;
}

body > div:nth-of-type(1) {
	min-height: 6em;
	min-height: 5em;
	min-height: 3em;
}

body > div > header h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
}

/* TODO: medium logo? */

body > div > .social {
	float: right;
	margin-top: 1em;
	margin-right: 5em;
}

body > div > header p {
	margin-top: 0px;
	color:  #f3f6f6;
	font-size: 16px;
	text-align: center;
}

section > p,
section > blockquote,
section > cite {
	text-align: center;
}

#actions a:nth-of-type(1) h2:before {
	display: block;
	content: url('../images/download-white.png');
}
#actions a:nth-of-type(2) h2:before {
	display: block;
	content: url('../images/learn-white.png');
}
#actions a:nth-of-type(3) h2:before {
	display: block;
	content: url('../images/donate-white.png');
}
#actions a:nth-of-type(4) h2:before {
	display: block;
	content: url('../images/contribute-white.png');
}

#actions div {
	width: 240px;
}

.download .title {
	color:  #fcfafa;
	font-size: 24.51px;/* Approximation due to font substitution */
	text-align: center;
	font-family: 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;
}

.download .description {
color:  rgba(249, 250, 251, 0.5);
font-size: 14.71px;
font-weight: 400;
line-height: 15px;
text-align: center;
}

section h2 {
	color:  #416ab3;
	font-size: 40px;/* Approximation due to font substitution */
	text-align: center;
	line-height: 39.901px;/* Approximation due to font substitution */
}

#actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#actions h2 {
	color:  #fcfafa;
	font-size: 24.51px;
	margin-bottom: 0px;
}

#actions p,
#actions a {
	color:  rgba(249, 250, 251, 0.5);
	font-size: 14.71px;
	/*font-weight: 400;*/
	line-height: 15px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0.25em;
}

#actions a {
	margin-left: 1em;
}

#actions a:hover {
	background: rgba(255, 255, 255, 0.1);
	transition: background 0.2s linear;
}

#whatsfreenet h2 {
color:  #416ab3;
font-size: 40px;/* Approximation due to font substitution */
line-height: 39.901px;/* Approximation due to font substitution */
}

#whatsfreenet a {
	display: block;
	color:  #416ab3;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

#whatsfreenet a:before {
	display: block;
	margin: 0 auto 0 auto;
	content: url('../images/download-blue.png');
}

#features ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#features ul li {
	width: 240px;
}

#features h3 {
	color:  #1b3e7d;
	font-size: 40px;/* Approximation due to font substitution */
	line-height: 39.901px;/* Approximation due to font substitution */
}

#features p {
	text-align: center;
	max-width: 800px;
	margin: auto;
}

#features h3 {
	color:  #416ab3;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

#features ul h3:before {
	margin-bottom: 1em;
}

#features li:nth-of-type(1) h3:before {
	display: block;
	content: url('../images/identity-blue.png');
}
#features li:nth-of-type(2) h3:before {
	display: block;
	content: url('../images/browse-blue.png');
}
#features li:nth-of-type(3) h3:before {
	display: block;
	content: url('../images/forums-blue.png');
}
#features li:nth-of-type(4) h3:before {
	display: block;
	content: url('../images/platform-blue.png');
}

#features li p {
	color:  #515862;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	width: 240px;
}

#news {
	min-height: 430px;
	background-color: rgb(242, 242, 243); /* matches eyedropper */

	margin-top: 5em;
	padding-top: 4em;
	padding-bottom: 4em;
}

#news p {
	max-width: 640px;
	margin: auto;
}

#news li {
	margin: 1em;
	text-align: left;
}

#news ol li h3 {
	color:  #416ab3;
	font-size: 17px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: -0.25em;
	font-family: 'PT Sans', 'Lucida Sans', 'Segoe UI', 'Calibri',  sans-serif;
}

#news ol li p {
	color:  #515862;
	font-size: 11px;
	line-height: 15px;
	width: auto;
	margin-top: 1em;
}

#news ol li .time {
	color:  #416ab3;
	font-size: 12px;
	font-weight: 600;
}

#news li {
	width: 240px;
}

#news a {
	display: inline-block;
	margin-top: 2em;
	background: rgb(65, 106, 179);
	border-radius: 2px 2px 2px 2px;
	padding: 0px 1ex 0px 1ex;
	color: white;
	font-size: 9px;
	line-height: 20px;
}

#news ol,
#news ol li {
	list-style-type: none;
}

#news ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#news ol li {
	display: block;
}

#more {
	display: block;
	text-indent: -9999px;
	background: transparent url("../images/arrow-down-white.png") no-repeat;
	background-position: bottom center;
}

#testimonials cite {
	display: block;
	font-weight: 600;
	color: #416ab3; /* eyedropper */
}

#testimonials cite a {
	color: rgb(33, 144, 193);
	color: #416ab3; /* eyedropper */
}

#testimonials cite:after {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	content: url('../images/endorsement-blue.png');
}	

main {
	padding: 1em;
	overflow: hidden;
}

body main a {
	color:  #416ab3;
}

ol li p:only-of-type {
	font-family: inherit;
	color:  inherit;
	font-size: inherit;
	font-weight: inherit;

}

dt {
	font-weight: 700;
}

.download-button {
	padding: 0.75em;
	border-radius: 6px;
	font-family: BebasNeueBold, "bebas-neue", sans-serif;
	font-weight: 700;
	background: #416AB3;
	color: white;
}

.download-button::before {
	display: inline;
	content: "\f103\ ";
	font-family: "ionicons";
}

footer {
	width: 100%;
	margin: 0px;
	min-height: 252px;
	background-color: #141f35; /* from eyedropper */
	padding: 2em 5em 2em;
	box-sizing: border-box;
	color: white;
	position: absolute;
	bottom: 0px;
	z-index: 9999;
}

footer header,
footer #contact {
	float: left;
	clear: left;
}

footer .social {
	float: right;
}

footer .social li {
	display: inline-block;
}

footer h2:before {
	display: inline-block;
	content: url('../images/logo-small.png');
}

footer h2 {
	text-align: left;
	font-size: 40px;
	line-height: 26px; /* FIXME Eh?... */
	margin-bottom: 0px;
	margin-top: 0px;
	color: white;
}

footer header p {
	text-align: center;
	margin-top: 0px;
}

footer #contact > * {
	display: block;
}

footer #copyright:before {
	display: block;
	width: 1px;
	height: 1px;
	content: ' ';
	/* FIXME: note that toc is floated left, so this clear is pushing it waaayyyyyyy down*/
	clear: both;
}

footer form {
	display: block;
	text-align: center;
}

footer #copyright {
	display: block;
	clear: both;
	text-align: center;
}

footer form button {
	line-height: 1.5em;
	border: 0;
	background: url('../images/list-button.png') ;
	width: 49px;
	height: 2em;
	padding: 0px;
	background-position: 0px center;
	background-repeat: no-repeat; /* TODO: shorthand background */
	text-indent: -99999px;
}

footer a {
	color: white;
}

footer .stats li:first-of-type:before {
	display: none;
}

footer .stats li:before {
	display: inline;
	content: ' | ';
}

footer ul {
    padding-left: 0px;
}

@media only screen and (max-width : 480px) {
	footer h2 {
		text-align: center;
	}

	footer form,
	footer #copyright {
		margin-left: inherit;
		width: inherit;
	}

	nav {
		padding: 1em 1em 1em 1em;
	}

	.social {
		margin: 0px 0px 0px 0px;
	}

	body > div > .social {
		float: right;
		margin-top: 1em;
		margin-right: 1em;
	}
	footer {
		padding-left: inherit;
		padding-right: inherit;
	}

	footer header,
	footer .social,
	footer #contact,
	footer #copyright,
	footer form {
		display: block;
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width : 640px) {
	body {
		padding-bottom: 20em;
	}
	footer {
		max-height: 20em;
		overflow: hidden;
	}
}

@media only screen and (max-width: 800px) {
	main {
		margin-left: 0;
	}
	body {
		padding-bottom: 16em;
	}
	footer {
		max-height: 16em;
		overflow: hidden;
	}
	nav {
		padding-left: 1em;
	}
	nav#language {
		display: block;
	}
}

@media only screen and (max-width: 900px) {
	aside.social {
		display: none;
	}
}

@media only screen and (max-width : 1280px) and (min-width: 1024px) {
	aside {
		box-shadow: 0px 0px 16px 16px #1B3E7D;
		background-color: #1B3E7D;
	}
}

@media only screen and (max-width : 1024px) {
	body {
		padding-bottom: 15em;
	}
	body > div {
		background-color: rgb(65, 106, 179);
		background: linear-gradient(to bottom, #1b3e7d 0%,#416ab3 100%);
		background-repeat: no-repeat;
		background-position: top right;
	}
	footer {
		max-height: 15em;
		overflow: hidden;
	}
}
